.header-contrainer-detail{
    height: 74px;
    background-color:#D6EFD8;
    background-size: cover;
}

.header-image-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background-color:#D6EFD8; */
    max-width: 100%;
    margin: 0 14.4% 0 14.4%;
}

.image-logo-detail{
    margin-top: 10px;
}

.image-avatar-detail{
    border: 2px solid #1A5319;
    max-width: 100%;
    margin-top: 7px;
}

.content-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box-detail{
    width: 70%;
    border:1px solid #D6EFD8;
    border-radius: 10px;
    margin: 40px 0 20px 0;
    padding: 20px 40px 50px 40px;
}

.box-content-image{
    border-radius: 20px;
    margin: 15px 25% 0 25%;
    overflow: hidden;
}

.Carousel-image{
    width: 100%;
    height: auto;
    max-height: 100vh; 
    object-fit: cover;
}

.detail p{
    line-height: 24px;
    font-size: 20px;
    font-family: "Figtree", sans-serif;
    font-weight: 500px;
}
.topic-detail h1{
    font-size: 32px;
    font-weight: 700;
}

.detail-detail p{
    font-size: 15px;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
}

.footer-detail{
    height: 200px;
    background-color: #1A5319;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    flex-direction: column;
    /* row-gap: 30px; */
    column-gap: 50px;
    /* line-height: 18px; */
}

.footer-image-detail{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    filter: invert(1);
}
